html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

/*-----size--------- */
/*-----color-------- */
body, a, input { font-family: "MyriadPro-Cond", sans-serif; font-size: 16px; color: #100310; }

a { text-decoration: none; }

.wrap { overflow: hidden; width: 100%; min-height: 100%; min-width: 1180px; }

.container { width: 1180px; margin: 0 auto; position: relative; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.container:after { content: " "; display: table; clear: both; }

/*-----header----------------------------------- */
.header { position: fixed; top: 0; left: 0; height: 75px; width: 100%; background-color: #100310; z-index: 70000; *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }
.header .phone { float: right; color: #ffe200; }
.header .phone:hover .phone__small, .header .phone:hover .phone__big { color: #ffff20; }

.header__head { padding: 12px 28px 0px 37px; }

.header__right { float: right; *zoom: 1; }
.header__right:after { content: " "; display: table; clear: both; }

.header__adress { float: right; margin: 12px 70px 0px 0px; }

.header__adressmail:hover { text-decoration: underline; }
.header__adressmail .ico { vertical-align: middle; margin-right: 4px; }

.header__roll, .header__adressmail { color: whitesmoke; font-size: 12px; font-family: "Myriad Pro"; line-height: 14px; }

/*-----send------------------------------------------- */
.send { margin-top: 75px; height: 700px; background-image: url(../img/send.jpg); position: relative; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

.send__popup { top: 50%; left: -100%; position: absolute; margin-top: -55px; margin-left: -140px; height: 110px; line-height: 110px; width: 280px; background-color: #ffe200; padding: 0 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 10%; -moz-border-radius: 10%; -ms-border-radius: 10%; -o-border-radius: 10%; border-radius: 10%; -webkit-transition: 0.6s; -moz-transition: 0.6s; -o-transition: 0.6s; transition: 0.6s; -webkit-transform: rotate(-720deg); -moz-transform: rotate(-720deg); -ms-transform: rotate(-720deg); -o-transform: rotate(-720deg); transform: rotate(-720deg); }

.send__popup-active { -webkit-transform: rotate(720deg); -moz-transform: rotate(720deg); -ms-transform: rotate(720deg); -o-transform: rotate(720deg); transform: rotate(720deg); left: 50%; }

.send__popupcontent { font-size: 22px; line-height: 22px; text-align: center; display: inline-block; vertical-align: middle; }

.send__popupclose { position: absolute; bottom: 10px; right: 15px; line-height: 10px; }

.send__label { position: absolute; top: 255px; left: 0; }

.send__form { width: 250px; padding: 10px 25px 25px; background: whitesmoke; background: rgba(245, 245, 245, 0.85); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); position: absolute; top: 160px; right: 85px; }

.send__formmeta { margin-top: 13px; font-size: 24px; }

.send__forminput { width: 212px; padding: 14px 20px 8px; margin-top: 11px; margin-bottom: 20px; display: block; background: #dff2ff; background-image: -webkit-linear-gradient(160deg, #ffffff, #d7efff); background-image: -moz-linear-gradient(160deg, #ffffff, #d7efff); background-image: -o-linear-gradient(160deg, #ffffff, #d7efff); background-image: linear-gradient(160deg, #ffffff, #d7efff); border: 1px solid #f2f5f6; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; font-size: 12px; color: #2a445e; -webkit-box-shadow: inset 4px 4px 4px rgba(95, 108, 121, 0.4); -moz-box-shadow: inset 4px 4px 4px rgba(95, 108, 121, 0.4); box-shadow: inset 4px 4px 4px rgba(95, 108, 121, 0.4); }
.send__forminput:-moz-placeholder, .send__forminput::-moz-placeholder { color: #2a445e; opacity: 1; }
.send__forminput::-webkit-input-placeholder { color: #2a445e; }
.send__forminput:focus:-moz-placeholder, .send__forminput:focus::-moz-placeholder { color: transparent; opacity: 1; }
.send__forminput:focus::-webkit-input-placeholder { color: transparent; }

/*-----benefits----------------------------------------- */
.benefits { background: #ffe200; position: relative; }
.benefits .first { top: 30.5%; left: 3.5%; }
.benefits .second { top: 35%; left: 12%; }
.benefits .third { top: 27.8%; left: 17.5%; }
.benefits .fourth { top: 36.5%; left: 22%; }
.benefits .fifth { top: 28%; left: 35.5%; }
.benefits .price { top: 24.5%; left: 62%; font-size: 28px; }
.benefits .infr { top: 35%; left: 71%; font-size: 20px; }
.benefits .plans { top: 51.5%; left: 71%; font-size: 24px; }
.benefits .comf { top: 61.5%; left: 61%; font-size: 24px; }
.benefits .teh { top: 51%; left: 48.5%; font-size: 20px; line-height: 25px; text-align: right; }
.benefits .location { top: 35%; left: 47%; font-size: 24px; }
.benefits .prices { top: 16.5%; left: 83%; }
.benefits .infrastructure { top: 34%; left: 85%; }
.benefits .lay { top: 58%; left: 83%; }
.benefits .comfort { top: 62%; left: 31%; text-align: right; }
.benefits .transport { background: #b7b7b7; width: 310px; padding: 5px 15px; left: 0; top: 60%; color: white; font-size: 16px; line-height: 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.benefits__img { width: 100%; }

.benefits__content { font-size: 22px; line-height: 29px; padding: 14px 135px 20px 107px; text-align: center; }

.benefits__info { position: absolute; display: inline-block; }

.benefits__info_mod { color: white; }

.benefits__small { font-size: 11px; }

.benefits__normal { font-size: 15px; }

.benefits__big { padding-left: 7px; font-size: 21px; line-height: 29px; }

/*-----detail-out----------------------------------------- */
.detail { width: 520px; margin: 0 auto; padding: 20px 0 20px; }

.detail { padding-bottom: 35px; text-align: center; }
.detail p { font-size: 24px; line-height: 1.2; }
.detail .phone { display: inline-block; margin: 6px 0 8px; }
.detail .phone .ico { vertical-align: baseline; }
.detail .phone__small { font-size: 30px; }
.detail .phone__big { font-size: 50px; font-weight: bold; }
.detail .btn { margin-top: 19px; }

/*-----codition----------------------------------------- */
.condition { background-color: #ffe200; position: relative; }
.condition .first { margin-bottom: 70px; margin-right: 0; }

.condition__banks { position: absolute; top: 255px; right: 0px; }

.condition__roll { display: block; text-align: right; margin-bottom: 8px; margin-right: 20px; }

.condition__top { background-color: #100310; color: white; }
.condition__top .container { padding: 35px 110px 78px; text-align: center; }
.condition__top .phone:hover .phone__small, .condition__top .phone:hover .phone__big { color: #cccccc; }
.condition__top p { text-align: left; font-size: 24px; line-height: 1.4; }
.condition__top .mod { margin-bottom: 50px; }
.condition__top .phone__small, .condition__top .phone__big { color: white; }

.title .ico { vertical-align: baseline; }
.title .i-tabl { vertical-align: bottom; }

.condition__bottom { text-align: center; margin-top: -27px; }
.condition__bottom .condition__titile { font-weight: bold; margin-bottom: 30px; }
.condition__bottom .condition__titile .ico { vertical-align: sub; margin-right: 10px; }
.condition__bottom .container { padding: 0 50px 0 110px; }
.condition__bottom p { text-align: left; font-size: 24px; line-height: 1.2; margin-bottom: 35px; }

.condition__img { width: 100%; }

/*-----plan----------------------------------------- */
.plan { position: relative; }

.plan__top { position: absolute; top: 0; left: 0; width: 100%; z-index: 10; }
.plan__top img { width: 100%; }

.plan__main { z-index: 9; padding: 70px 30px 0; position: relative; }
.plan__main img { width: 100%; }

.plan__label { position: absolute; }
.plan__label .ico { z-index: 10; position: absolute; left: 0; top: 0; }

.label-1 { top: 100px; left: 940px; }

.label-2 { top: 150px; left: 800px; }

.label-3 { top: 215px; left: 640px; }

.label-4 { top: 335px; left: 700px; }

.plan__content { z-index: 9; display: inline-block; padding: 1px 35px 2px 9px; background-color: white; position: absolute; top: 35px; right: -20px; white-space: pre; -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); }

.buildinfo { padding-bottom: 20px; padding-top: 10px; margin-top: -10px; position: relative; z-index: 100; *zoom: 1; }
.buildinfo:after { content: " "; display: table; clear: both; }
.buildinfo .buildinfo__left { width: 465px; float: left; }
.buildinfo .buildinfo__center { width: 230px; float: left; }
.buildinfo .buildinfo__center .counter { margin-bottom: 10px; }
.buildinfo .buildinfo__right { width: 250px; padding-left: 133px; float: left; }
.buildinfo .buildinfo__house { font-size: 22px; color: #2a445e; }
.buildinfo .buildinfo__house .label { margin-right: 10px; }
.buildinfo .buildinfo__detail { margin-top: 18px; margin-left: 95px; font-size: 22px; color: #2a445e; }
.buildinfo .buildinfo__detail p { margin-bottom: 25px; }
.buildinfo .counter { font-family: "Myriad Pro"; margin-top: 10px; }
.buildinfo .btn_choose { margin-top: 13px; height: 43px; line-height: 43px; font-size: 18px; }
.buildinfo .btn_main { height: 43px; line-height: 43px; font-size: 18px; margin-top: 15px; }

.reserv { padding-top: 3px; font-size: 22px; color: #2a445e; }
.reserv .input { margin: 5px 0 8px; padding: 14px 18px; }

/*-----map----------------------------------------- */
.map { background-color: #ffe200; }
.map .title { margin-bottom: 25px; }
.map .title .i-tabl { vertical-align: bottom; }

.map__top img { width: 100%; }

.map__google { margin: 60px auto 115px; width: 990px; height: 453px; background-color: white; }

/*-----transport----------------------------------------- */
.transport .container { padding: 18px 87px 40px; }

.transport__title { font-size: 25px; line-height: 0.4; font-family: "Myriad Pro"; margin-right: 10px; margin-top: 15px; margin-bottom: 20px; }
.transport__title .ico { margin-right: 5px; }
.transport__title .small { font-size: 16px; line-height: 10px; padding-left: 45px; }

.transport__title_mod { margin-bottom: 30px; }

.transport__content { font-family: "Myriad Pro"; padding-left: 17px; }

.transport__content_i { padding-left: 0; margin-top: 0px; }

/*-----contact----------------------------------------- */
.contact { background-color: #100310; }
.contact p { color: white; font-size: 24px; }
.contact .row { text-align: center; }
.contact .input { vertical-align: 2px; }
.contact .container { padding: 35px 100px; }

.contact__phones { color: white; margin: 20px 0; }

.contact__item { color: white; font-size: 24px; }
.contact__item .ico { margin-right: 15px; }
.contact__item span { font-size: 30px; }

/*-----photo----------------------------------------- */
.photo { padding: 20px; }
.photo .title { margin-bottom: 20px; }
.photo .title .ico { vertical-align: bottom; margin-right: 5px; }

.photo__item { margin: 0 auto; width: 900px; height: 500px; border: 1px solid black; }

/*-----phone----- */
.phone:hover .phone__small, .phone:hover .phone__big { color: #605360; }

.phone__small { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; font-size: 26px; vertical-align: text-bottom; }

.phone__big { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; font-size: 42px; }

/*-----nav-------- */
.nav { position: absolute; bottom: -37px; left: 0; height: 37px; background: #ffe200; *zoom: 1; }
.nav:after { content: " "; display: table; clear: both; }
.nav ul { padding: 0 10px; *zoom: 1; }
.nav ul:after { content: " "; display: table; clear: both; }
.nav ul li { float: left; }
.nav ul li:first-child a { padding-left: 15px; }
.nav ul a { font-size: 20px; line-height: 37px; border-bottom: 2px solid transparent; padding-left: 50px; -webkit-transition: color 0.3s; -moz-transition: color 0.3s; -o-transition: color 0.3s; transition: color 0.3s; }
.nav ul a:hover { color: #605360; }
.nav:after, .nav:before { position: absolute; content: ""; top: 0; display: inline-block; }
.nav:before { height: 37px; width: 2000px; left: -2000px; background-color: inherit; }
.nav:after { width: 0; height: 0; border-style: solid; border-width: 37px 37px 0 0; border-color: #ffe200 transparent transparent transparent; right: -37px; }

/*-----logo------------ */
.logo { font: 0/0 a; text-shadow: none; color: transparent; }

/*-----ring------------ */
.ring { float: right; width: 190px; text-transform: uppercase; margin: 12px 55px 0 0; }
.ring .is-open { max-height: 200px; padding: 28px 13px 10px 17px; margin-top: -5px; }

.ring__head { text-align: center; background-color: #ffe200; width: 100%; display: inline-block; height: 32px; line-height: 36px; font-family: "Myriad Pro"; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; }
.ring__head:hover { background-color: #ffff20; }

.ring__popup { -webkit-transition: 0.3s; -moz-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; background: whitesmoke; background: rgba(245, 245, 245, 0.85); padding: 0 13px 0px 17px; margin-top: 0; max-height: 0px; overflow: hidden; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ring__popup .btn { margin-top: 10px; }

/*-----row----- */
.row.detail__row_mod { margin-bottom: 25px; }
.row .input { margin-right: 17px; }
.row .input, .row .btn { width: 250px; display: inline-block; }

/*-----input----- */
.input { width: 100%; padding: 12px 18px; background: white; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; font-size: 13px; color: #2a445e; box-sizing: border-box; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); }
.input:-moz-placeholder, .input::-moz-placeholder { color: #2a445e; opacity: 1; }
.input::-webkit-input-placeholder { color: #2a445e; }
.input:focus:-moz-placeholder, .input:focus::-moz-placeholder { color: transparent; opacity: 1; }
.input:focus::-webkit-input-placeholder { color: transparent; }
.input.input_small { width: 30px; padding: 8px 6px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.input.input_middle { width: 90px; padding: 8px 6px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.counter { text-align: center; }
.counter .counter__meta { font-size: 15px; }
.counter .counter__items { padding: 7px; margin-bottom: 3px; display: inline-block; background: white; font-size: 0; border-bottom: 1px solid #ccced0; -webkit-box-shadow: inset 0px -1px 0 #b0b0b0; -moz-box-shadow: inset 0px -1px 0 #b0b0b0; box-shadow: inset 0px -1px 0 #b0b0b0; }
.counter .counter__items .counter__item { background: url('../img/icons-sca2208ca33.png') 0 -404px no-repeat; width: 49px; height: 54px; margin-left: 7px; display: inline-block; font-size: 50px; line-height: 55px; color: #f3f3f3; line-height: 55px; }
.counter .counter__items .counter__item:first-child { margin-left: 0; }
.counter .counter__small { font-size: 0; }
.counter .counter__small .counter__smallitems { background: url('../img/icons-sca2208ca33.png') 0 -468px no-repeat; width: 12px; height: 14px; display: inline-block; font-size: 12px; color: white; }

/*-----inputlabel----- */
.inputlabel { display: block; font-size: 22px; color: #2a445e; }
.inputlabel span { width: 105px; display: inline-block; }
.inputlabel .input { width: 150px; padding: 4px 15px; -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4); }

/*-----title----- */
.title { font-size: 40px; font-family: "Myriad Pro"; margin-bottom: 50px; text-align: center; }
.title .ico { vertical-align: baseline; }

.ico { vertical-align: sub; display: inline-block; }

.i-phone { background: url('../img/icons-sca2208ca33.png') 0 -780px no-repeat; width: 35px; height: 35px; }

.i-phone_small { background: url('../img/icons-sca2208ca33.png') 0 -663px no-repeat; width: 29px; height: 29px; }

.i-home { background: url('../img/icons-sca2208ca33.png') 0 -993px no-repeat; width: 15px; height: 14px; }

.i-mail { background: url('../img/icons-sca2208ca33.png') 0 -974px no-repeat; width: 13px; height: 9px; }

.i-close { background: url('../img/icons-sca2208ca33.png') 0 -946px no-repeat; width: 20px; height: 18px; }

.i-condition { background: url('../img/icons-sca2208ca33.png') 0 -825px no-repeat; width: 65px; height: 51px; }

.i-time { background: url('../img/icons-sca2208ca33.png') 0 -549px no-repeat; width: 44px; height: 44px; }

.i-label1 { background: url('../img/icons-sca2208ca33.png') 0 -303px no-repeat; width: 90px; height: 91px; }

.i-label2 { background: url('../img/icons-sca2208ca33.png') 0 -202px no-repeat; width: 90px; height: 91px; }

.i-label3 { background: url('../img/icons-sca2208ca33.png') 0 0 no-repeat; width: 90px; height: 91px; }

.i-label4 { background: url('../img/icons-sca2208ca33.png') 0 -101px no-repeat; width: 90px; height: 91px; }

.i-tabl { background: url('../img/icons-sca2208ca33.png') 0 -603px no-repeat; width: 55px; height: 50px; margin-right: 10px; }

.i-car { background: url('../img/icons-sca2208ca33.png') 0 -702px no-repeat; width: 49px; height: 26px; }

.i-train { background: url('../img/icons-sca2208ca33.png') 0 -738px no-repeat; width: 41px; height: 32px; }

.i-bus { background: url('../img/icons-sca2208ca33.png') 0 -886px no-repeat; width: 38px; height: 23px; }

.i-alarm { background: url('../img/icons-sca2208ca33.png') 0 -919px no-repeat; width: 12px; height: 17px; margin-right: 5px; }

.i-photo { background: url('../img/icons-sca2208ca33.png') 0 -492px no-repeat; width: 62px; height: 47px; }

.btn { padding: 0px 13px; margin-top: 26px; display: block; font-size: 20px; color: #5f6c79; text-transform: uppercase; text-decoration: none; background-image: -webkit-linear-gradient(160deg, #eb4343, #fe5656); background-image: -moz-linear-gradient(160deg, #eb4343, #fe5656); background-image: -o-linear-gradient(160deg, #eb4343, #fe5656); background-image: linear-gradient(160deg, #eb4343, #fe5656); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2); text-align: center; color: white; width: 100%; height: 53px; line-height: 53px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.ie .btn { padding: 12px 13px 6px; }
.btn:hover { background-image: -webkit-linear-gradient(160deg, #fe5656, #eb4343); background-image: -moz-linear-gradient(160deg, #fe5656, #eb4343); background-image: -o-linear-gradient(160deg, #fe5656, #eb4343); background-image: linear-gradient(160deg, #fe5656, #eb4343); }
.btn:active { position: relative; top: 1px; }

.btn_mod { height: 45px; line-height: 45px; }

.btn_main { background-color: #e62e1f; }

.btn_small { width: 100%; background-color: #f04848; font-size: 12px; height: 42px; line-height: 44px; padding: 0; border: 1px solid #df3214; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.btn_choose { background: #1f82cc; }
.btn_choose:hover { background: #3fa2ec; }
